<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <div id="app" align="center">
    <h1>{{ title }} ({{ todoList.length }})</h1>
    <ul style="list-style: none;">
      <todo-item v-for="(item, index) in todoList" v-bind:todo="item"></todo-item>
      <br>
      <input v-model="newTodo"><button v-on:click="addTodo">Submit</button>
    </ul>
  </div>

  <script>
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li >{{ todo.text }}</li>'
    })

    new Vue({
      el: '#app',
      data: {
        title: 'Simple To-Do-List',
        todoList: [
          { text: 'wake up' },
          { text: 'eat' },
          { text: 'work' }
        ],
        newTodo: ''},
      methods: {
        addTodo: function () {
          this.todoList.push({ text: this.newTodo });
          this.newTodo = '';
        }
      }
    })
  </script>
</body>
</html>
